<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Terence Filtering Page</title>
</head>
<body>
    <div class="content">
        <h1>Image</h1>
        <div class="image_container">
            <img src="{{url_for('download', path=path)}}" height="200" width="250" alt="uploaded image"/>
        </div>

        <div class="filter_container">
            <h1>FILTERS:</h1>
            <form method="post" action="/filteringPage/{{path}}/Gray">
                <input type="submit" value="Gray">
            </form>
            <form method="post" action="/filteringPage/{{path}}/Sepia">
                <input type="submit" value="Sepia">
            </form>
            <form method="post" action="/filteringPage/{{path}}/Poster">
                <input type="submit" value="Poster">
            </form>
            <form method="post" action="/filteringPage/{{path}}/Blur">
                <input type="submit" value="Blur">
            </form>
            <form method="post" action="/filteringPage/{{path}}/Edge">
                <input type="submit" value="Edge">
            </form>
            <form method="post" action="/filteringPage/{{path}}/Solar">
                <input type="submit" value="Solar">
            </form>
        </div>
    </div>
<div>
            {% block filtering %}
            {% endblock %}
      </div>
      <div>
            {% block download %}
            {% endblock %}
      </div>

</body>
</html>